!*

.DS_Store

# Logs and Python
*.pyc
*.log
**/*.pyc
**/*.log

# Node Modules
node_modules

# Keep fabfile.py private
fabfile.py
fabfile.pyc

# Generated Data
docs/**/*
!docs/index.md
data/html/*.html
data/json/*.json

# Ignore Virtual Environment
venv

# Config
config/*
!config/default.js
!config/test.js